.card{
    background-color: rgb(55, 78, 122);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2rem;
    margin:1rem;
    width:20vw;
}

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    color:aliceblue;
    text-align: center;
}

button{
    background-color: rgb(14, 144, 144);
    border:none;
}
button:hover{
    background-color: rgb(28, 28, 46);
}

#BotonAgre{
margin:1rem;
}